.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
.category-box {
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.3s;
}
